body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #cac4c4;
}

.container{
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.input-section{
    margin-bottom: 20px;
}

input[type="time"]{
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sleepLog{
    margin-top: 20px;
    text-align: left;
}
